
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>allExpenses-{{user.id}}</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
    <link href="{{host}}/BigImg.css" type="text/css" rel="stylesheet" />
    <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
    
		<script type="module" src="main.js"></script>
    
    <style>
       body {
          background-image: url("https://media.cntraveler.com/photos/5eac691f4623d48988c21830/master/w_4200,h_2803,c_limit/Trunk-Bay-St-John-GettyImages-509468664.jpg");
          /* Full height */
          height: 100%;

          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
       }
    </style>
	</head>
	<body>
    
    <header>
    <div class="overlay">
      <h1>{{user.firstName}}</h1>
        <a  href="/manager">Home</a> 
        <a href="/logout">Log out</a>  
    <br>
      </div>
  </header>
    
    
		
    
    
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		
     
<!--   <h1>Total : £ {{total}}</h1> -->
<div id="main">
  
<table class="timecard">
  
	<caption>Total Spent: £ {{total}}</caption>
	<thead>
		<tr>
			<th id="thDay">Date</th>
			<th id="thRegular">Label</th>
      <th id="amount">Amount</th>
<!-- 			<th id="thOvertime">Picture</th> -->
      
			
		</tr>
	</thead>
  
	<tbody>
      {{#each records}}
    
		<tr class="even">
			<td>{{this.expense_date}}</td>
			<td><a href="/manager/allExpenses/expense/{{this.expense_id}}"/>{{this.label}}</td>
      <td>£ {{this.amount}}</td>
      
    
       {{/each}}
    
	</tbody>
  
	
</table>
</div>
    
   
     
	</body>
</html>
